%table.table
  %thead
    %tr
      %th Başlık
      %th İcerik
  %tbody
  - @announcements.each do |announcement|
    %tr
      %td
        =link_to announcement do
          = announcement.title

      %td= announcement.content
