%tr
 %td= lesson.name
 %td


  = link_to admin_lesson_path(lesson), class: 'btn btn-default btn-xs' do
   %i.icon.glyphicon.glyphicon-eye-open


  = link_to edit_admin_lesson_path(lesson), class: 'btn btn-default btn-xs' do
   %i.icon.glyphicon.glyphicon-pencil
 
 