%h1 Listing lessons

%table.table
  %thead
    %tr
      %th Ders Adı
      %th Etkinlik
      %th Açıklama

      
  %tbody
    = render @lessons
%br

= link_to 'New Lesson', new_teacher_lesson_path
