%tr
 %td= admin.email
 %td= block_status(admin.blocked)
 %td

  = link_to 'Blokla', block_admin_admin_path(admin), class: "btn btn-danger btn-xs", method: :post
  = link_to 'Aktif Et', unblock_admin_admin_path(admin), class: "btn btn-success btn-xs", method: :post